<div class="nav-container">

  <a class="nav-button"
     routerLink="/map"
     routerLinkActive="active-link"
     [routerLinkActiveOptions]="{exact: true}">

    <ion-icon class="icon-outline" name="map-outline"></ion-icon>
    <ion-icon class="icon-filled" name="map"></ion-icon>
    <label>Mapa</label>
  </a>

  <a class="nav-button"
     routerLink="/events"
     routerLinkActive="active-link"
     [routerLinkActiveOptions]="{exact: true}">

    <ion-icon class="icon-outline" name="sparkles-outline"></ion-icon>
    <ion-icon class="icon-filled" name="sparkles"></ion-icon>
    <label>Eventos</label>
  </a>

  <a class="nav-button"
     routerLink="/profile"
     routerLinkActive="active-link"
     [routerLinkActiveOptions]="{exact: true}">

    <ion-icon class="icon-outline" name="person-outline"></ion-icon>
    <ion-icon class="icon-filled" name="person"></ion-icon>
    <label>Perfil</label>
  </a>

</div>
